

<footer>
       <div class="layout1">
         <a href="#"><i class="bi bi-instagram"></i></a>
         <a href="#"><i class="bi bi-facebook"></i></a>
         <a href="#"><i class="bi bi-whatsapp"></i></a>
         <a href="#"><i class="bi bi-linkedin"></i></a>
       </div>

       <div class="layout2">
         <a href="#">Home</a>
         <a href="#">Services</a>
         <a href="#">Collection</a>
         <a href="#">Team</a>
         <a href="#">Contact</a>
       </div>

       <div class="layout3">
         <p> Made with ❤️ in USA</p>
       </div>
</footer>